header {
  display: flex;
  padding: 30px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  --text-copyright: #b2b9cc;
  z-index: 1;
  align-items: center;
  height: 84px;
}

header a {
  color: white;
}

#left > a {
  display: flex;
  gap: 15px;
  align-items: center;
}

#left > a > img {
  width: 50px;
}

#left > a > span {
  display: none;
}

#right ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}

#right a {
  text-decoration: none;
}

#right > ul > li:last-of-type > a {
  background-color: var(--college-democrats-blue);
  color: white;
  padding: 5px 10px;
}

@media screen and (min-width: 1240px) {
  
  #left > a {
    text-decoration: none;
  }

  #left > a > span {
    display: initial;
  }

}