header {
  display: flex;
  padding: 30px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

#left > a {
  text-decoration: none;
  font-size: 1.6rem;
}

#right ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}

#right a {
  text-decoration: none;
}

#right > ul > li:nth-of-type(3) > a {
  background-color: var(--college-democrats-blue);
  color: white;
  padding: 5px 10px;
}