#videoContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin: -30px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0 30px;
  box-sizing: border-box;
}

#videoContainer > h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

#videoContainer > :not(video) {
  z-index: 1;
  padding: 0 30px;
}

#videoContainer > video {
  width: 100%;
  opacity: 0.4;
}